body {
    background-color: rgb(31, 31, 31);
    font-family: sans-serif;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    gap: 1rem;
}

.newBookButton {
    background: url(icons/plus.svg) no-repeat;
    justify-content: end;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.book, .newBookButton {
    width: 10rem;
    height: 15rem;
    background-color: antiquewhite;
    color: #412818;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}